.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
	max-width:100%;
	height:auto;
}



h1,h2,h3,h4 {
	font-style: normal;
	font-weight: 300;
}


.gform_wrapper ul li ::-webkit-input-placeholder {
  color: $bluedark; }
.gform_wrapper ul li ::-moz-placeholder {
  color: $bluedark; }
 .gform_wrapper ul li :-moz-placeholder {
   color: $bluedark; }
 .gform_wrapper ul li :-ms-input-placeholder {
   color: $bluedark; }
 .gform_wrapper ul li ::-moz-placeholder {
    opacity: 1; }



@media screen and (max-width: 767px) {
	
	
.alignleft,
.alignright,
.aligncenter,
img.alignleft,
img.alignright,
img.aligncenter {
	margin:4px auto 0px;
	float:none;
	max-width:100%;
	height:auto;
}
	
	
	
	
} /* Media Query */