header {
	display: none;
}

.mobile_logo_wrapper {
	display: none;
}

.fixed_header {
	position: fixed;
	top:0;
	left:0;
	width:83px;
	height:100vh;
	z-index: 11;
	background: #fff;
}


.menu_wrapper {
	background: #112238;
	height:86px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding:0 17px;
	cursor: pointer;
	span {
		display: block;
	}
	span.menu_bar {
		width:100%;
		height:3px;
		background: $blueone;
		margin-bottom:6px;
	}
	span.menu_title {
		color:#fff;
		text-transform: uppercase;
		font-family: $poppins;
		font-weight: 700;
		font-size: 15px;
		letter-spacing: 0.05em;
		padding-top:4px;
	}
}


a.email {
	display: block;
	width:44px;
	height:33px;
	margin:21px auto 0;
	img {
		width:44px;
		height:33px;
		display: block;
	}
}


.sticky_header {
	display: none;
}

.internal_header {
	display: none;
	.menu_wrapper {
		display: none;
	}
}

body:not(.page-template-template-home) .internal_header {
	display: flex;
	position: absolute;
	top:0;
	left:0;
	height:86px;
	width:100%;
	align-items: center;
	z-index:10;
	.internal_logo {
		flex-grow:1;
		margin-left:129px;
		a {
			display: block;
			img {
				width:327px;
				height:37px;
			}
		}
	}
	.free_consult_bar {
		flex-basis:458px;
		flex-shrink:0;
	}
}


body.no-banner {
	.internal_header {
		background: $bluedark;
		position: static;
	}
}



@media screen and (max-width: 1130px) {
	
	
	header {
		display: block;
		width:100%;
		z-index:10;
		display: flex;
		.menu_wrapper {
			
		}
	}
	
	.fixed_header {
		display: none;
	}
	
	.header_left {
		flex-basis:83px;
		flex-shrink: 0;
		
	}
	
	
	.header_right {
		background: #fff;
		flex-grow: 1;
		display: flex;
		justify-content: space-between;
		a.tablet_logo {
			display: block;
			margin:30px 0 0 18px;
			img {
				width:280px;
				height: 31px;
			}
			img.white_logo {
				display: none;
			}
		}
		
	}
	
	
	
	.tablet_free_consult_wrapper {
			display: flex;
			flex-direction: column;
			text-align: right;
			padding-right:20px;
			justify-content: center;
			span, a {
				color:#0750e0;
				display: block;
			}
			span.tablet_free_consult {
				font-family: $poppins;
				font-weight: 700;
				text-transform: lowercase;
				letter-spacing: 0.085em;
				font-size:14px;
				margin-bottom:7px;
			}
			a.tablet_phone {
				font-family: $unna;
				font-size:28px;
				text-decoration: none;
			}
		}
	
	
	
	
	.sticky_header {
		display: flex;
		width:100%;
		position: fixed;
		top:0;
		left:0;
		z-index:10;
		opacity: 0;
		visibility: hidden;
		transition: all 200ms ease-in-out;
		.menu_wrapper {
			flex-basis: 83px;
			flex-shrink: 0;
		}
		.sticky_email {
			flex-basis: 83px;
			flex-shrink: 0;
			background: $blueone;
			display: flex;
			justify-content: center;
			align-items: center;
			a {
				display: block;
				img {
					width:44px;
					height:33px;
				}
			}
		}
		.sticky_right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			flex-grow: 1;
			background: $greylight;
		}
	}
	
	
	.sticky_header.visible {
		opacity: 1;
		visibility: visible
	}
	
	
	.sticky_header.no_transition {
		transition: none;
	}
	
	
	
	
body:not(.page-template-template-home) .internal_header {
	display: none;
}



body:not(.page-template-template-home) {
		header {
			a.tablet_logo {
				img.dark_logo {
					display: none;
				}
				img.white_logo {
					display: block;
				}
			}
		}
	}



body:not(.page-template-template-home) {
	header {
		.header_right {
			background: $bluedark;
		}
		.tablet_free_consult_wrapper {
			background:$bluetwo;
			flex-basis: 214px;
			span, a {
				color:#fff;
			}
		}
	}
}

	
} /* Media Query */





@media screen and (max-width: 767px) {
	
	header {
		flex-wrap: wrap;
	}
	
	.mobile_logo_wrapper {
		display: block;
		flex-basis:100%;
		padding:15px 10px;
		a.mobile_logo {
			display: block;
			img {
				width:336px;
				height:40px;
				display: block;
				margin-left:auto;
				margin-right:auto;
			}
		}
	}
	
	
	
	.header_right {
		background:$greylight;
		a.tablet_logo {
			display: none;
		}
		.tablet_free_consult_wrapper {
			flex-grow:1;
		}
	}
	
	

body:not(.page-template-template-home) {
	header {
		.header_right {
			background: $bluedark;
			justify-content: flex-end;
		}
		.tablet_free_consult_wrapper {
			background:$blueone;
			flex-basis: 214px;
			flex-grow: 0;
			span, a {
				color:#fff;
			}
		}
	}

}

	

	
	
} /* Media Query */


@media screen and (max-width: 350px) {
	
	
	.mobile_logo_wrapper {
		
		a.mobile_logo {
			
			img {
				width:100%;
				max-width:336px;
				height:auto;
				
			}
		}
	}

	
	
	
} /* Media Query */