.internal_banner {
	background-size:cover;
	padding:0 0 0 83px;
	height:547px;
	width:100%;
	position: relative;
	img {
		position: absolute;
		top:0;
		left:83px;
		object-fit:cover;
		width:calc(100% - 83px);
		height:100%;
		
	}
}




.internal_banner_inner {
	position: relative;
	z-index: 1;
	text-align: center;
	max-width:835px;
	margin:0px auto;
	padding:190px 0 0 0;
	span, a {
		
	}
	span {
		color:#fff;
		display: block;
		font-family: $poppins;
		font-weight: 700;
		line-height: 65px;
		font-size:50px;
		margin-bottom:18px;
	}
}


#internal_main {
	
}

.internal_container {
	min-height: 400px;
}

.one_col {
	padding:0 125px;
	text-align: center;
}

.two_col {
	display: flex;
	width:100%;
	padding-left:83px;
}


.container {
	flex-grow:1;
	margin:130px 0 0;
	padding:0 12% 100px 93px;
}


.sidebar_wrapper {
	flex-basis: 467px;
	flex-shrink: 0;
	padding:153px 30px 100px 0;
	background: $bluedark;
	ul {
		list-style: none;
		max-width: 300px;
		margin:0 auto;
		li {
			font-family: $poppins;
			a {
				color:#fff;
				text-decoration: none;
				display: block;
				cursor: pointer;
				transition: all 200ms ease-in-out;
				&:hover {
					color:$blueone;
				}
			}
		}
	}
	ul.menu {
		> li {
				font-weight: 700;
				text-transform: uppercase;
				letter-spacing: 0.15em;
				margin-bottom: 89px;
				font-size:15px;
				line-height: 17px;
				>a {
					border-bottom:3px solid $blueone;
					padding-bottom:20px;
					
				}
		}
		>li.current-menu-ancestor {
			ul.sub-menu {
				display: block;
			}
		}
		> li.menu-item-has-children {
			 > a {
				 	position: relative;
				 	padding-right:10px;
				 	&:after {
					 	content:"";
					 	display: block;
					 	width:4px;
					 	height:4px;
					 	background: $blueone;
					 	position: absolute;
					 	top:7px;
					 	right:0;
					 	border-radius: 50%;
				 	}
			 }
		}
	}
	ul.sub-menu {
		display: none;
		margin:30px 0 0px;
		padding-bottom: 9px;
		li {
			text-transform: lowercase;
			font-size:17px;
			line-height: 22px;
			letter-spacing: 0.05em;
			margin-bottom:30px;
			&:last-of-type {
				margin-bottom:0;
			}
		}
		li.current-menu-item {
			a {
				color:$blueone;
			}
		}
		
	}
}


@media screen and (max-width: 1600px) {
	
	
	
		
	.container {
		padding: 0 85px 100px 85px;
	}
	
	
	
} /* Media Query */



@media screen and (max-width: 1250px) {
	
	
	
	.two_col {
		display: block;
	}
	
	
	
	.container {
		padding: 0 55px 100px;
		margin: 80px 0 0;
	}
	
	
	.sidebar_wrapper {
		padding: 63px 55px 5px 55px;
		ul {
			max-width:100%;
			width:100%;
		}
		ul.menu {
			> li {
				 margin-bottom: 55px;
			}
		}
	}

	
	
	
} /* Media Query */


@media screen and (max-width: 1130px) {
	
	
	.internal_banner {
		display: none;
	}
	
	.one_col {
		padding-left:60px;
		padding-right:60px;
	}
	
	.two_col {
		padding-left:0;
	}
	
	
	
	
	
} /* Media Query */


@media screen and (max-width: 767px) {
	
	
.container {
	margin: 53px 0 0;
	padding:0 40px 40px;
}	


.one_col {
	padding:0 40px;
}

.sidebar_wrapper {
	padding: 50px 40px 16px;
}
	
	
	
} /* Media Query */



