



.reviews_slider_wrapper {
	width:100%;
	margin-top: -80px;
	position: relative;
	padding:148px 145px 0;
   &:after {
		content:"";
		display: block;
		width:100%;
		height:590px;
		background: $bluedark;
		position: absolute;
		top:0;
		left:0;
	}
}


.reviews_slider_inner {
	width:100%;
	min-height:615px;
	background:#fff;
	max-width:1325px;
	margin:0 auto;
	position: relative;
	z-index: 1;
	box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
	display: flex;
}


.reviews_slider_button {
	width:80px;
	height:100px;
	background: $greylight;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top:250px;
	cursor: pointer;
	&:hover {
		svg#arrow {
			fill:$blueone;
		}
	}
	svg {
		width:15px;
		height:25px;
	}
}

.reviews_slider_left {
	svg {
		transform: rotate(-180deg);
	}
}

.reviews_slider_right {
	
}


.reviews_slider {
	width:calc(100% - 160px);
	padding:0 75px;
	
}


.reviews_single_slide {
	text-align: center;
	padding:85px 0 115px;
	img.reviews_logo {
		display: block;
		margin:0 auto 32px;
		max-width:100%;
		height:75px;
	}
	span.reviews_description {
		color:#000;
		font-size:65px;
		line-height: 75px;
		font-family: $unna;
		display: block;
		
	}
	span.reviews_date {
		text-transform: uppercase;
		font-family: $poppins;
		font-weight:700;
		display: inline-block;
		border-top:3px solid $bluetwo;
		margin-top:48px;
		padding-top:18px;
		font-size: 15px;
		letter-spacing: 0.15em;
	}
}


.reviews_wrapper {
	width:100%;
	max-width:1610px;
	margin:145px auto 150px;
	display: flex;
	justify-content: space-between;
	padding:0 145px;
}

.review_col {
	flex-basis:46%;
	.single_review {
		&:last-of-type {
			border-bottom:7px solid $greylight;
		}
	}
}


.single_review {
	border-top:7px solid $greylight;
	min-height:365px;
	display: flex;
	align-items: center;
	padding:60px 0;
	span {
		font-family: $poppins;
		display: block;
	}
	span.single_review_content {
		font-weight:600;
		color:$bluedark;
		font-size: 20px;
		line-height: 40px;
	}
	span.single_review_name {
		color:$blueone;
		text-transform: uppercase;
		font-size: 15px;
		letter-spacing: 0.15em;
		font-weight: 700;
		margin:40px 0 0;
	}
}



@media screen and (max-width: 1130px) {
	
	
	.reviews_slider_wrapper {
		margin:80px 0 0;
		padding: 100px 60px 0;
	}
	
	
.reviews_wrapper {
	padding-left:60px;
	padding-right:60px;
}
	
} /* Media Query */


@media screen and (max-width: 1066px) {
	
	
.reviews_slider_inner {
	flex-wrap: wrap;
	justify-content: center;
}


.reviews_slider_button {
	margin-top:0;
	margin-bottom:0px;
	position: relative;
	&:hover {
		svg#arrow {
			
		}
	}
	svg {
		
	}
	span.review_blue_line {
		width:1px;
		height:37px;
		background: $blueone;
		display: block;
		position: absolute;
		top:32px;
	}
}

.reviews_slider_left {
	order:2;
	svg {
		
	}
	span.review_blue_line {
		right:0;
	}
	
}

.reviews_slider_right {
	order:3;
	span.review_blue_line {
		left:0;
	}	
}


.reviews_slider {
	width:100%;
	order:1;
}





.reviews_single_slide {
	padding: 85px 0 72px;
	img.reviews_logo {
		
	}
	span.reviews_description {
		font-size: 55px;
    line-height: 65px;
	}
	span.reviews_date {
	
	}
}


.reviews_wrapper {
	margin: 105px auto;
}
	

	
	
} /* Media Query */



@media screen and (max-width: 767px) {
	
	.reviews_wrapper {
		display: block;
	}
	
	
	
	
} /* Media Query */


