.bio_wrapper {
	margin:35px 0 185px;
	text-align: left;
}



.att_bio_intro {
	display: flex;
	width:100%;
	max-width:1440px;
	margin:0 auto 145px;
	position: relative;
}

.bio_blueline_wrapper {
	position: absolute;
	top:-60px;
	width:100%;
	left:0;
	span.bio_blueline {
		display:block;
		width:3px;
		height:115px;
		background: $blueone;
		position: relative;
		z-index: 2;
		margin:0px auto 0;
	}
}


.att_bio_intro_left {
	flex-basis:486px;
	flex-shrink:0;
	margin-right:-300px;
	margin-bottom:142px;
}


.att_bio_intro_right {
	background: $greylight;
	flex-grow:1;
	color:#5b6372;
	padding:145px 13% 118px 28%;
}

.att_bio_video {
	max-width:580px;
	width:100%;
	box-shadow: 6.889px 11.025px 31.68px 1.32px rgba(0, 0, 0, 0.2);
	position: relative;
	z-index:1;
	margin:140px 0 0;
	&:hover {
		a {
			.bio_img_wrapper {
				img {
					transform: scale(1.05);
				}
			}
		}
	}
	a {
		display: block;
		text-decoration: none;
		
	}
	.bio_img_wrapper {
			overflow: hidden;
			img {
				max-width: 100%;
				height:auto;
				display: block;
				transform: scale(1);
				transition: transform 1200ms cubic-bezier(.17,.66,.34,.98);
			}
		}
}


.att_bio_video.mobile {
	display: none;
}



.bio_video_title_wrapper {
	height:148px;
	width:100%;
	background: #fff;
	display: flex;
// 	justify-content: center;
	align-items: center;
	padding:0 0 0 50px;
}


.bio_play_wrapper {
	width:95px;
	height:95px;
	background: linear-gradient(135deg, rgba(26,158,255,1) 0%,rgba(27,71,201,1) 77%);
	border-radius: 50%;
	position: relative;
	&:before {
		content:"";
		display: block;
		position: absolute;
		top:35px;
		left:42px;
		width: 0; 
		height: 0; 
		border-top: 12px solid transparent;
		border-bottom: 12px solid transparent;
		border-left: 15px solid #fff;
	}
}


span.bio_video_title {
	color:$blueone;
	text-transform: lowercase;
	font-family: $poppins;
	font-weight: 700;
	letter-spacing: 0.05em;
	font-size:15px;
	display: block;
	margin-left:39px;
}


.att_bio_content {
	max-width:1230px;
	margin:0 auto;
}


@media screen and (max-width: 1530px) {
	
	
	
	.att_bio_intro_right {
		padding: 145px 9% 118px 30%;
	}
	
	
	
	
} /* Media Query */


@media screen and (max-width: 1450px) {
	
	.att_bio_intro_left {
    flex-basis: 426px;
  }
	
} /* Media Query */


@media screen and (max-width: 1360px) {
	
	
	.att_bio_intro_right {
    padding: 145px 9% 118px 33%;
	}
	

	
} /* Media Query */



@media screen and (max-width: 1278px) {
	
	
	.att_bio_intro_left {
    flex-basis: 390px;
  }
  
  .att_bio_intro_right {
    padding: 145px 9% 118px 36%;
	}
	
	
	.bio_video_title_wrapper {
		padding: 0 0 0 30px;
	}
	
	
} /* Media Query */


@media screen and (max-width: 1200px) {
	
	
	
	.att_bio_intro_left {
		display: none;
	}
	
	.att_bio_video.mobile {
		display: block;
		max-width:490px;
		margin:79px auto 0;
	}
	
	.bio_video_title_wrapper {
		padding:0 0 0 50px;
	}
	
	body.page-template-template-bio {
		h1.centered {
			padding-top: 72px;
		}
	}
	
	.bio_blueline_wrapper {
    top: -67px;
  }
  
  .att_bio_intro_right {
    padding: 124px 125px 103px;
	}
	
	
	.att_bio_intro {
		width: 100vw;
		position: relative;
		left: -125px;
		margin: 0 auto 122px;
	}
	
	
	.bio_wrapper {
		margin: 35px 0 132px;
	}
	

	
} /* Media Query */



@media screen and (max-width: 1130px) {
	
	
	.att_bio_intro {
		left:-60px;
	}
	
	
	.att_bio_intro_right {
		padding-left:60px;
		padding-right:60px;
	}
	
	
	
} /* Media Query */




@media screen and (max-width: 767px) {
	
	
	.bio_video_title_wrapper {
		display: block;
		text-align: center;
		padding:25px 20px 35px;
		height:auto;
	
	}
	
	
	.bio_play_wrapper {
		margin-left:auto;
		margin-right:auto;
	}
	
	span.bio_video_title {
		margin-left:0;
		margin-top:20px;
	}
	
	body.page-template-template-bio {
		h1.centered {
			padding-bottom: 20px;
		}
	}
	
	.att_bio_intro {
		left:-40px;
		margin: 0 auto 58px;
	}
	
	
	.att_bio_intro_right {
    padding: 81px 40px 43px;
	}
	
	.bio_wrapper {
    margin: 35px 0 83px;
	}
	
} /* Media Query */
